/* Credit to https://github.com/Overimagine1/old-discord-font */
/* Credit to https://chat.openai.com/chat for helping me with css. */
/* Credit to https://opendyslexic.org for providing the font (Note: this project has no affiliation with OpenDyslexic.org they just make a really good font for me and other dyslexic people.) */

@font-face {
    font-family: "OpenDyslexic3";
    src: url("./fonts/OpenDyslexic3-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "OpenDyslexic3";
    src: url("./fonts/OpenDyslexic3-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

*{
    line-height: 1.695 !important;
}


body {
    font-family: "OpenDyslexic3", sans-serif !important;
}

strong {
    font-weight: bold;
}